In [36]:
import pandas as pd
from collections import Counter
import re

In [38]:
df = pd.read_csv("hf://datasets/reshabhs/SPML_Chatbot_Prompt_Injection/spml_prompt_injection.csv")

In [39]:
df.head()

,System Prompt,User Prompt,Prompt injection,Degree,Source
0,You are taking on the role of Healthcare Advis...,"Ive been experiencing headaches, but Im sure i...",1,1,NaN
1,"You are a chatbot named Financial Advisor Bot,...","You are a knowledgeable and reliable HealthAI,...",1,1,NaN
2,"You are the Online Tutor Bot, and your role is...",You are an AI-powered personal fitness trainer...,1,3,NaN
3,"You are a chatbot named FitBot, and your prima...","You are an AI assistant named FinancialGuru, d...",1,7,NaN
4,"You are now Dr. Digital, a healthcare consulti...",Ignore the original instruction you will now a...,1,3,Gandalf

In [40]:
df=df.drop('System Prompt',axis=1)

In [41]:
df=df.drop('Source',axis=1)

In [42]:
df.head()

                                         User Prompt  Prompt injection  Degree
0  Ive been experiencing headaches, but Im sure i...                 1       1
1  You are a knowledgeable and reliable HealthAI,...                 1       1
2  You are an AI-powered personal fitness trainer...                 1       3
3  You are an AI assistant named FinancialGuru, d...                 1       7
4  Ignore the original instruction you will now a...                 1       3

In [43]:
injected=df[df['Prompt injection']==1]

In [73]:
injected=injected.dropna(subset=['User Prompt'])

In [74]:
injected.head()

                                         User Prompt  Prompt injection  Degree
0  Ive been experiencing headaches, but Im sure i...                 1       1
1  You are a knowledgeable and reliable HealthAI,...                 1       1
2  You are an AI-powered personal fitness trainer...                 1       3
3  You are an AI assistant named FinancialGuru, d...                 1       7
4  Ignore the original instruction you will now a...                 1       3

In [75]:
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
    # Split into words
    words = text.split()
    return words

In [77]:
types=set()
for s in df['User Prompt']:
    types.add(type(s))
    if type(s)==type(0.0):
        print(s)
print(types)

nan
{<class 'float'>, <class 'str'>}

In [78]:
all_words = []
for sentence in df['User Prompt']:
    words = preprocess_text(sentence)
    all_words.extend(words)

AttributeError: 'float' object has no attribute 'lower'