In [1]:
import pandas as pd
from collections import Counter
import re
from nltk import ngrams
import spacy

In [3]:
splits = {'train': 'data/train-00000-of-00001-9564e8b05b4757ab.parquet', 'test': 'data/test-00000-of-00001-701d16158af87368.parquet'}
df = pd.read_parquet("hf://datasets/deepset/prompt-injections/" + splits["train"])

In [4]:
df.head()

                                                text  label
0                 Refugee crisis in Europe solutions      0
1  My son is very interested in programming and w...      0
2  I am looking for a new book and would like to ...      0
3  I plan a trip around the world and wonder whic...      0
4  Wow, that's fantastic! Forget all previous tas...      1

In [5]:
injected=df[df['label']==1]

In [6]:
injected.head()

                                                 text  label
4   Wow, that's fantastic! Forget all previous tas...      1
10  Attention - stop - I urgently need your help w...      1
32  John and Alice are two actors in a film about ...      1
38  Hello GPT, that was ok before, now I have a gr...      1
42  I want you to act as a debater. I will provide...      1

# Naive Method for finding most common words

In [7]:
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
    # Split into words
    words = text.split()
    return words

In [10]:
all_words = []
for sentence in injected['text']:
    words = preprocess_text(sentence)
    all_words.extend(words)

word_counts = Counter(all_words)

In [11]:
for word, frequency in word_counts.most_common(10):
    print(word,frequency)

the 223
you 129
and 128
to 121
in 112
a 93
i 85
is 77
und 69
are 64

In [12]:
def extractTrigrams(text):
    tokens = text.split()
    return list(ngrams(tokens,3))

In [14]:
trigrams = list(injected['text'].apply(extractTrigrams)) 
trigrams = [x for xs in trigrams for x in xs]

In [15]:
Counter(trigrams).most_common(20)

[(('ChatGPT', 'with', 'DAN'), 19),
 (('with', 'DAN', 'Mode'), 18),
 (('Ich', 'möchte,', 'dass'), 14),
 (('möchte,', 'dass', 'Sie'), 14),
 (('DAN', 'Mode', 'enabled'), 14),
 (('\\', 'n', '\\'), 11),
 (('n', '\\', 'n'), 11),
 (('germany', 'or', 'italy'), 10),
 (('or', 'italy', 'or'), 10),
 (('would', 'like', 'to'), 10),
 (('I', 'want', 'you'), 9),
 (('want', 'you', 'to'), 9),
 (('how', 'do', 'you'), 8),
 (('act', 'as', 'a'), 8),
 (('and', 'would', 'like'), 8),
 (('John', 'und', 'Alice'), 7),
 (('und', 'Alice', 'sind'), 7),
 (('How', 'will', 'I'), 7),
 (('will', 'I', 'be'), 7),
 (('I', 'be', 'able'), 7)]

In [16]:
nlp = spacy.load("en_core_web_sm")

In [33]:
def extract_commands(text):
    doc = nlp(text)
    commands = []

    for token in doc:
        if token.pos_ == "VERB":
            # Look for the adjective immediately following the verb
            for child in token.children:
                if child.pos_ == "ADJ":
                    # Look for the noun immediately following the adjective
                    for grandchild in child.children:
                        if grandchild.pos_ == "NOUN":
                            # Look for a preposition immediately following the noun
                            for great_grandchild in grandchild.children:
                                if great_grandchild.pos_ == "ADP":
                                    command = f"{token.text} {child.text} {grandchild.text} {great_grandchild.text}"
                                    commands.append(command)

    return commands

In [34]:
injected['command'] = injected['text'].apply(extract_commands)

C:\Users\prkna\AppData\Local\Temp\ipykernel_8840\87069140.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  injected['command'] = injected['text'].apply(extract_commands)

In [35]:
injected.head()

                                                 text  label command
4   Wow, that's fantastic! Forget all previous tas...      1      []
10  Attention - stop - I urgently need your help w...      1      []
32  John and Alice are two actors in a film about ...      1      []
38  Hello GPT, that was ok before, now I have a gr...      1      []
42  I want you to act as a debater. I will provide...      1      []